<%= simple_form_for @task, :html => { :class => 'form-inline' } do |f| %>
  <%= f.input :title %>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
  </div>
<% end %>
