<tr>
  <td>
    <%= link_to '<i class="icon-pencil"></i>'.html_safe,
                edit_task_path(task), :class => 'btn btn-mini' %>
  </td>
  <td><%= link_to task.title, task_path(task) %></td>
  <td>
    <%= link_to '<i class="icon-trash"></i>'.html_safe,
                task_path(task),
                :method => :delete,
                :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
                :class => 'btn btn-mini btn-danger' %>
  </td>
</tr>